.main {
  flex: 1;
  width: 100vw;
}

.main.dark {
  color: white;
  /* background: #1a1a1a; */
}

.main a {
  text-decoration: none;
}

.main button {
  /* padding: 0; */
  margin: 0;
  box-shadow: none;
  background: none;
  border: none;
}

.main h1, .main h2, .main h3, .main h4, .main h5 {
  margin: 0
}

.main h1 {
  /* font-family: HelveticaNeue-Light; */
  font-family: HelveticaNeue-Medium;
  font-size: 84px;
  font-weight: 400;
}

.main h2 {
  font-size: 42px;
  font-weight: 400;
  font-family: HelveticaNeue-Medium;
}

.main h3 {
  font-size: 36px;
  font-weight: 400;
  font-family: HelveticaNeue-Medium;
  color: #272727;
}

.main h4 {
  font-size: 26px;
  font-weight: 500;
  color: #333;
  margin-bottom: -8px !important;
}

/* .main.dark h4 {
  color: #eee
} */

.main h5 {
  font-size: 22px;
  font-weight: 700;
  color: #555;
  margin-bottom: -10px;
  /* font-family: HelveticaNeue-Bold; */

}

.main.dark h5 {
  color: #bbb
}

.main p {
  font-size: 23px;
  margin: 10px 0;
  line-height: 140%;
  font-family: Helvetica Neue;
}

.main p b {
  font-family: 'HelveticaNeue-Medium';
  font-weight: 400;
}

.content {
  display: flex;
  flex-direction: column;
  width: calc(100vw - 208px - 7vw);
  padding: 12px 0;
  padding-right: 5vw !important;
  padding-bottom: 100px;
}

.content.dark {
  background: #1a1a1a;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.sticky {
  position: sticky;
  position: -webkit-sticky;
}

.vibeheader_img {
  margin: 0 auto;
}

.row__text {
  width: 600px;
  display: flex;
  flex-direction: column;
}

.row__smalltext {
  width: 525px;
  display: flex;
  flex-direction: column;
}

.fulltext {
  width: 775px;
  display: flex;
  flex-direction: column; 
}

.row__quote {
  /* margin-left: auto; */
  text-align: left;
  margin-top: 16px;
  /* margin-top: auto; */
  margin-bottom: auto;
  margin-right: auto;
  /* width: 550px; */
}

.row__quote blockquote {
  font-size: 36px;
  margin: 0;
}

.row__quote span {
  font-size: 18px;
}


.videowrapper {
  border-radius: 8px;
  width: 418px;
  height: 570px;
  overflow: hidden;
  filter: drop-shadow(8px 8px 5px rgba(0,0,0,0.2));
  margin-bottom: auto;
  margin-top: auto;
}

.demovideo {
  width: 418px;
}

.media_img {
  margin-top: 12px;
  margin-right: auto;
  z-index: 10;
}

.inlinemedia_img {
   margin: auto;
}

.diagramsection {
  /* flex: 1; */
  /* display: flex;
  flex-direction: column; */
}



.diagram_img {
  /* margin: auto; */
  background: white;
  /* padding-bottom: 72px; */
  /* border-top-left-radius: 100px; */
  /* transition: all 20s linear; */
  margin: 0 !important;
}

.fixeddiagram {
  position: fixed;
  /* bottom: 0; */
}

.invisible {
  visibility: hidden;
}

.elementssection {
  overflow: visible;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  width: 100%;
  /* height: 1200px; */
}

.hoverbutton {
  border-radius: 4px;
  outline: 2px solid #555;
  color: #444;
  padding: 8px 20px;
}

.hoverbutton:hover {
  cursor: pointer;
  outline: 2px solid rgba(183,68,254, 0.9);
  transition: none;
  /* background: #fdfdfd; */
  color: #B744FE;
  /* background: rgba(183,68,254, 0.02); */
}

.hoverbutton.active, .hoverbutton.active.hoverbutton:hover {
  transition: all 0.2s ease-in-out;
  box-shadow: 2.4px 2.4px 4px 1px #ccc;
  color: #B744FE;
  outline: 2px solid rgba(183,68,254, 0.9);
}

.hoverbutton span {
  font-size: 21px;
  /* font-weight: 600; */
  font-family: HelveticaNeue-Medium;
}

.sidebar {
  /* padding-top: 60px; */
  padding-left: 18px;
  position: -webkit-sticky;
  position: sticky;
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* border-right: 1px solid rgba(0,0,0,0.2); */
  /* background: rgba(0,0,0,0.02); */
  width: 200px;
  /* transition: top 0.1s ease-in-out; */
  /* z-index: -1; */
}

.sidebar.dark {
  background: #1a1a1a;
}

.sidebar h4 {
  font-size: 27px;
  margin: 0;
  /* text-decoration: underline; */
}

.sidebar__link {
  font-size: 15px;
  color: #777;
  font-family: HelveticaNeue-Light;
  /* text-decoration: underline !important; */
  margin-bottom: 8px;
  /* margin-left: -1px; */
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 180px;
}

.sidebar__link:hover {
  color: #000;
}

.sidebar__link.dark {
  color: #ccc;
}

.sidebar__link.dark:hover {
  color: #fff;
}

.sidebar__link.active, .sidebar__link.active:hover {
  /* margin-bottom: 7px !important; */
  /* margin-left: 1px; */
  color: #262626;
  font-family: HelveticaNeue-Medium;
}

.sidebar__link.dark.active, .sidebar__link.dark.active:hover {
  /* margin-bottom: 7px !important; */
  margin-left: -1px;
  color: #eee;
}

.sidebar__link span{
  margin-right: 4px;
  text-decoration: none !important;
  display: none;
}

.sidebar__link u {
  text-decoration: none;
}

.backbutton:hover {
  opacity: 0.7
}

.classsection .row__text {
  width: 500px;
  height: 500px;
}

.screenshot_headertext {
  padding-bottom: 8px;
}

.screenshot {
  transition: opacity .3s ease-in-out;
  filter: drop-shadow(8px 8px 5px rgba(0,0,0,0.3));
  margin-bottom: auto;
}