.main {
  flex: 1;
}

.main.dark {
  color: white;
  /* background: #1a1a1a; */
}

.main a {
  text-decoration: none;
}

.main button {
  /* padding: 0; */
  margin: 0;
  box-shadow: none;
  background: none;
  border: none;
}

.main h1, .main h2, .main h3, .main h4, .main h5 {
  margin: 0
}

.main h1 {
  /* font-family: HelveticaNeue-Light; */
  font-family: HelveticaNeue;
  font-size: 88px;
  font-weight: 400;
  @media screen and (max-width: 1300px) {
    font-size: 76px;
  }
}

.main h2 {
  font-size: 42px;
  font-weight: 400;
  font-family: HelveticaNeue-Medium;
  @media screen and (max-width: 1300px) {
    font-size: 40px;
  }
}

.main h3 {
  font-size: 36px;
  font-weight: 400;
  font-family: HelveticaNeue-Medium;
  color: #272727;
}

.main h4 {
  font-size: 26px;
  font-weight: 500;
  color: #333;
  margin-bottom: -8px !important;
  @media screen and (max-width: 1000px) {
    font-size: 24px;
  }
}

/* .main.dark h4 {
  color: #eee
} */

.main h5 {
  font-size: 22px;
  font-weight: 700;
  color: #555;
  margin-bottom: -10px;
  /* font-family: HelveticaNeue-Bold; */
  @media screen and (max-width: 1300px) {
    font-size: 20px;
    margin-bottom: -8px;
  }

}

.main.dark h5 {
  color: #bbb
}

.main p {
  font-size: 23px;
  margin: 10px 0;
  line-height: 140% !important;
  font-family: Helvetica Neue;

  @media screen and (max-width: 1000px) {
    font-size: 20px;
  }
  @media screen and (max-width: 800px) {
    font-size: 18px;
  }
}

.main p b {
  font-family: 'HelveticaNeue-Medium';
  font-weight: 400;
}

.content {
  display: flex;
  flex-direction: column;
  /* width: calc(95vw - 172px); */
  /* width: 84vw; */
  padding-top: 12px;
  padding-right: 5vw;
  padding-left: 11vw;
  padding-bottom: 100px;
  
  @media screen and (max-width: 1350px) {
    padding: 12px 1vw 100px 8vw;
    /* width: 91vw; */
  }

  @media screen and (max-width: 1200px) {
    padding: 12px 1vw 100px 5vw;
    /* width: 94vw; */
  }
  
  @media screen and (max-width: 800px) {
    padding: 12px 4vw 100px;
    /* width: 92vw; */
  }

  @media screen and (min-width: 1800px) {
    padding: 12px 0 100px;
    padding-left: calc((100vw - 1500px) /2);
    width: 1500px;
  }
}

.absolutecenter {
  /* overflow-x: hidden; */
  z-index: 1000;
  display: flex;
  /* width: 95vw; */
  padding-left: 8vw;
  margin-left: -11vw;
  justify-content: center;
  @media screen and (max-width: 1350px) {
    padding-left: 1vw;
    margin-left: -8vw;
  }
  @media screen and (max-width: 1200px) {
    padding-left: 1vw;
    margin-left: -5vw;
  }
  @media screen and (max-width: 800px) {
    padding-left: 4vw;
    margin-left: -4vw;
  }
  @media screen and (min-width: 1800px) {
    margin-left: calc((100vw - 1500px) /-2);
  }
}

.absolutecenter.withpadding {
  @media screen and (max-width: 1200px) {
    width: 95vw;
    padding-left: 5vw;
  }
  @media screen and (max-width: 800px) {
    width: 92vw;
    padding-left: 4vw;
    /* margin-right: -4vw; */
    /* margin:0; */
  }
}

.content.dark {
  background: #1a1a1a;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.intro__description {
  display: block;
  font-size: 31px;
  margin-bottom: 8px;
  width: 800px;
  line-height: 140%;
  font-family: HelveticaNeue-Light;
  @media screen and (max-width: 1300px) {
    font-size: 28px;
    width: 760px;
  }
}

.intropadding {
  padding-left: 54px;
  @media screen and (max-width: 1300px) {
    padding-left: 48px;
  }
  @media screen and (max-width: 1100px) {
    padding-left: 8px;
  }
}

.vibeheader_img {
  margin: 44px auto 60px;
  width: 900px;
  height: auto;
  padding-left: 80px;
  @media screen and (max-width: 1300px) {
    width: 850px;
    margin: 55px auto;
    /* margin-left: 10vw; */
    padding-left: 20px;
  }
  @media screen and (max-width: 1200px) {
    width: 825px;
    padding-left: 0;
  }
}

.row__text {
  width: 620px;
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 1300px) {
    width: 580px;
  }
  @media screen and (max-width: 1100px) {
    width: 500px;
  }
}

.largefont {
  font-size: 26.5px !important;
  @media screen and (max-width: 1300px) {
    font-size: 25px !important;
  }
  @media screen and (max-width: 1100px) {
    font-size: 22px;
  }
}

.row__smalltext {
  width: 600px;
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 1300px) {
    width: 550px !important;
  }
  @media screen and (max-width: 1100px) {
    width: 450px;
  }
}

.fulltext {
  width: 850px;
  display: flex;
  flex-direction: column; 
  @media screen and (max-width: 1300px) {
    width: 820px;
  }
}

.row__quote {
  /* margin-left: auto; */
  text-align: left;
  /* margin-top: 16px; */
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  padding-top: 12px;
  /* width: 550px; */
}

.row__quote blockquote {
  font-size: 32px;
  margin: 0;
}

.row__quote span {
  font-size: 18px;
}


.videowrapper {
  border-radius: 8px;
  width: 418px;
  height: 570px;
  overflow: hidden;
  filter: drop-shadow(8px 8px 5px rgba(0,0,0,0.2));
  margin-bottom: auto;
  margin-top: auto;
  @media screen and (max-width: 1300px) {
    width: 380px;
    height: 518px;
  }
  @media screen and (max-width: 1100px) {
    margin-left: -16px;
  }
}

.demovideo {
  width: 418px;
  @media screen and (max-width: 1300px) {
    width: 380px;
  }
}

.groupvibes_img {
  margin-right: auto;
  margin-bottom: auto;
  margin-top: 24px;
  width: 440px;
  height: auto;
  @media screen and (max-width: 1300px) {
    margin-top: 32px;
    width: 400px;
    margin-left: -16px;
  }
  @media screen and (max-width: 1100px) {
    width: 360px;
    margin-left: -8px;
  }
}

.media_img {
  margin-top: 12px;
  margin-right: auto;
  z-index: 10;
  @media screen and (max-width: 1300px) {
    transform: scale(.95);
    margin-left: -12px !important;
  }
  @media screen and (max-width: 1100px) {
    transform: scale(.85);
    /* margin-left: -32px !important; */
  }
}

.vibeperson_img {
  transform: scale(.95);
  @media screen and (max-width: 1300px) {
    transform: scale(.9);
  } 
  @media screen and (max-width: 1300px) {
    /* transform: scale(.5) !important; */
    width: 500px;
    height: auto;
    margin-left: -12px !important;
  }
  @media screen and (max-width: 1100px) {
    /* transform: scale(.5) !important; */
    width: 450px;
    height: auto;
    margin-left: -20px !important;
  }
}

.paradigmshift_img {
  width: 825px;
  height: auto;
  @media screen and (max-width: 1300px) {
    width: 750px;
  }
  @media screen and (max-width: 1100px) {
    width: 725px;
  }
}

.inlinemedia_img {
   margin: auto;
   @media screen and (max-width: 1300px) {
    width: 480px;
    height: auto;
    margin-left: -8px !important;
  }
  @media screen and (max-width: 1100px) {
    width: 440px;
  }
}

.diagramsection {
  /* flex: 1; */
  /* display: flex;
  flex-direction: column; */
}



.diagram_img {
  /* margin: auto; */
  background: white;
  /* padding-bottom: 72px; */
  /* border-top-left-radius: 100px; */
  /* transition: all .2s linear; */
  margin: 0 !important;
}

.webkitfix {
  /* transform-style: preserve-3d; */
  /* backface-visibility: hidden; */
  /* transform: translate3d(0, 0, 0); */
  /* transform-style: preserve-3d; */
  /* -webkit-transform-style: preserve-3d; */
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
}

.fixeddiagram {
  position: fixed;
  /* bottom: 0; */
}

.invisible {
  visibility: hidden;
}

.hoverbutton {
  border-radius: 4px;
  outline: 2px solid #555;
  color: #444;
  padding: 8px 20px;
}

.hoverbutton:hover {
  cursor: pointer;
  outline: 2px solid rgba(183,68,254, 0.9);
  transition: none;
  /* background: #fdfdfd; */
  color: #B744FE;
  /* background: rgba(183,68,254, 0.02); */
}

.hoverbutton.active, .hoverbutton.active.hoverbutton:hover {
  transition: all 0.2s ease-in-out;
  box-shadow: 2.4px 2.4px 4px 1px #ccc;
  color: #B744FE;
  outline: 2px solid rgba(183,68,254, 0.9);
}

.hoverbutton span {
  font-size: 21px;
  /* font-weight: 600; */
  font-family: HelveticaNeue-Medium;
}

.sidebar {
  /* padding-top: 60px; */
  /* padding-left: 18px; */
  /* position: -webkit-sticky; */
  position: absolute;
  display: flex;
  flex-direction: column;
  /* border-right: 1px solid rgba(0,0,0,0.2); */
  /* background: rgba(0,0,0,0.02); */
  /* transition: top 0.1s ease-in-out; */
  z-index: 100000000;
}

.sidebar.dark {
  background: #1a1a1a;
}

.sidebar h4 {
  font-size: 27px;
  margin: 0;
  /* text-decoration: underline; */
}

.sidebar__link {
  font-size: 16px;
  color: #777;
  font-family: HelveticaNeue-Light;
  /* text-decoration: underline !important; */
  padding-right: 20px;
  /* margin-left: -1px; */
  display: flex;
  align-items: center;
  flex-direction: row;
  /* width: 180px; */
}

.fixedsidebar__link {
  font-size: 15px;
  color: #777;
  font-family: HelveticaNeue-Thin;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  @media screen and (max-width: 750px) {
    /* font-size: 14px; */
    margin-bottom: 4px;
  } 
}

.fixedsidebar__link:hover {
  color: #262626;
}

.fixedsidebar__link.active, .fixedsidebar__link.active:hover {
  /* margin-bottom: 7px !important; */
  /* margin-left: 1px; */
  color: #262626;
  font-family: HelveticaNeue-Light;
  @media screen and (max-width: 750px) {
    font-family: HelveticaNeue;
  }
}

.sidebar__link:hover {
  color: #000;
}

.sidebar__link.dark {
  color: #ccc;
}

.sidebar__link.dark:hover {
  color: #fff;
}

.sidebar__link.active, .sidebar__link.active:hover {
  /* margin-bottom: 7px !important; */
  /* margin-left: 1px; */
  color: #262626;
  font-family: HelveticaNeue-Medium;
}

.sidebar__link.dark.active, .sidebar__link.dark.active:hover {
  /* margin-bottom: 7px !important; */
  margin-left: -1px;
  color: #eee;
}

.sidebar__link span{
  margin-right: 4px;
  text-decoration: none !important;
  display: none;
}

.sidebar__link u {
  text-decoration: none;
}

.backbutton:hover {
  opacity: 0.7
}

.screenshotsection {
  @media screen and (max-width: 1000px) {
    display: none;
  }
}

.mobile_screenshotsection {
  display: none;
  @media screen and (max-width: 1000px) {
    display: block
  }
}

.mobile_screenshotsection .row__text {
  width: 75%;
  @media screen and (max-width: 800px) {
    width: 85%;
  }
  @media screen and (max-width: 600px) {
    width: 100%;
  }
}

.screenshotsection .row__text {
  /* margin-left: -20px; */
  width: 540px;
  height: 500px;
  @media screen and (max-width: 1400px) {
    width: 520px;
  }
  @media screen and (max-width: 1300px) {
    width: 580px;
  }
  @media screen and (max-width: 1100px) {
    width: 520px;
  }
  @media screen and (max-width: 1000px) {
    display: none;
  }
}

.screenshot_headertext {
  padding-bottom: 8px;
}

.stickyscreenshots {
  position: sticky;
  position: -webkit-sticky;
  display: block;
  top: calc((100vh - 700px) / 2);
  @media screen and (max-width: 1400px) {
    top: calc((100vh - 655px) / 2);
  }
  @media screen and (max-width: 1300px) {
    top: calc((100vh - 700px) / 2);
    width: 0 !important;
  }
}
/* 
.mobile_screenshots {
  position: fixed;
  bottom: 0;
  background: rgba(255, 255, 255, 0.2);
  background: red;
  border-top-left-radius: 16px;
  backdrop-filter: blur(20px);
  height: 586px;
  width: 280px;
  left: calc(100vw);
  margin-right: -20px;
  padding: 12px 28px;
} */

.mobilescreenshot {
  transition: opacity .4s ease-in-out;
  z-index: 10000;
  width: 280px;
  height: auto;
  position: absolute;
  bottom: 16px;
  left: calc(50vw - 140px);
  @media screen and (max-width: 800px) {
    /* left: calc(50vw - 140px); */
  }
}

.mobilescreenshotbg {
  width: 280px;
  height: 571px;
  background: #1a1a1a;
  z-index: 1;
  border-radius: 48px;
  position: absolute;
  bottom: 12px;
  left: calc(50vw - 140px);
  @media screen and (max-width: 800px) {
    /* left: calc(52vw - 140px); */
  }
}

.screenshotwrapper {
  left: 48px;
  @media screen and (max-width: 1450px) {
    left: 32px;
  }
  @media screen and (max-width: 1300px) {
   left: 64px;
  }
  @media screen and (max-width: 1100px) {
    left: 52px;
  }
}

.screenshot__row {
  display: flex;
  flex-direction: row;
  @media screen and (max-width: 1300px) {
    flex-direction: column;
  }
}

.screenshot {
  transition: opacity .4s ease-in-out;
  filter: drop-shadow(8px 8px 5px rgba(0,0,0,0.3));
  z-index: 10000;
  margin-bottom: auto;
  @media screen and (max-width: 1400px) {
    width: 320px;
    height: auto;
  }
  @media screen and (max-width: 1300px) {
    position: absolute;
    left: 0;
    width: 342px;
  }
}

.screenshotbg {
  @media screen and (max-width: 1400px) {
    width: 312px !important;
    height: 655px !important;
    border-radius: 24;
  }
  @media screen and (max-width: 1300px) {
    width: 334px !important;
    height: 700px !important;
  }
  @media screen and (max-width: 1000px) {
    width: 270px !important;
    height: 586px !important;
    /* right: 24px !important;
    left: auto !important;
    margin: 0;
    position: relative; */
    left: 12px;
    bottom: 20px;
    position: absolute;
  }
}

.screenshotbg2 {
  @media screen and (max-width: 1400px) {
    width: 312px !important;
    height: 655px !important;
  }
  @media screen and (max-width: 1300px) {
    display: none;
  }
}

.fixedlinks {
  /* width: 212px; */
  /* height: 56px; */
  padding-top: 12px;
  padding-bottom: 4px;
  padding-left: 16px;
  padding-right: 8px;
  border-right: 2px solid rgba(0, 0, 0, 0.10);
  border-bottom: 2px solid rgba(0, 0, 0, 0.10);
  background: rgba(250, 249, 246, 0.8);
  backdrop-filter: blur(20px);
  border-bottom-right-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  z-index: 1000;
  top: 0;
  transition: transform .1s ease-in-out;
  /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
  @media screen and (max-width: 750px) {
    /* padding-top: 8px; */
    padding-bottom: 6px;
   padding-left: 10px;
   padding-right: 10px; 
   left: auto;
   right: 0;
   border-bottom-right-radius: 0px;
   border-bottom-left-radius: 4px;
   border-left: 1px solid rgba(0, 0, 0, 0.10);
   border-bottom-width: 1px;
   border-right: 0;
  }
}

.fixedlinks:hover {
  background: rgba(250, 249, 246, 1);
}

.fixedlinks span {
  color: #262626;
  font-family: HelveticaNeue-Medium;
  margin-right: 6px;
  font-size: 17px;
  margin-bottom: 4px;
  @media screen and (max-width: 750px) {
    display: none;
  }
}

.fixedlinks button {
  margin-left: 8px;
  @media screen and (max-width: 750px) {
    margin-left: 2px;
  }
}

.fixedlinks svg {
  transform: scale(1.2);
  margin-bottom: auto;
  margin-top: 2px;
  @media screen and (max-width: 750px) {
    transform: scale(1.1);
    margin-top: -0.5px;
  }
}

.mobileonly {
  display: none;
  @media screen and (max-width: 1000px) {
    display: inline;
  }
}